

*{
    margin: 0;
    padding: 0;
    background-color: black;
}
.m1{
    display: flex;
    /* background-color: red; */
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.m2{
    display: flex;
    background-color: white;
    width: 210px;
    height: 150px;
    /* border-radius: 35px; */
    justify-content: center;
    align-items: center;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 25px;
    box-shadow: 0 0 15px salmon;
    transition-duration: 500ms;
}
img:active{
    scale: 1.3;
}